
@{
    ViewBag.Title = "Index";
}

@section featured {
    
    <div class="navigation">
        <ul id="nav">
            <li><a class="navTo" href="#home">home</a></li>
            <li><a class="navTo" href="#content">content</a></li>
            <li><a class="navTo" href="#footer">contact</a></li>
        </ul>
    </div>


    <div id="sections">
        <section id="home" data-type="background" data-speed="10" class="pages">
            <article>Hello!</article>
        </section>

        <section id="content" data-type="background" data-speed="10" class="pages">
            <article>Content</article>
        </section>

        <section id="footer" data-type="background" data-speed="10" class="pages">
            <article>Footer</article>
        </section>
    </div>
    
 }