
@{
    ViewBag.Title = "Index";
}

@section featured {
    
    <div class="navigation">
        <ul id="nav">
            <li><a class="navTo" href="#home"><div class="shape"><span class="glyphicon glyphicon-home"></span></div></a></li>
            <li><a class="navTo" href="#content"><div class="shape"><span class="glyphicon glyphicon-blackboard"></div></a></li>
            <li><a class="navTo" href="#footer"><div class="shape"><span class="glyphicon glyphicon-envelope"></span></div></a></li>
        </ul>
    </div>

    <div id="sections">
        <section id="home" data-type="background" data-speed="10" class="pages">
            <div id="home-content">
                <div id="name-box"><article>Gabriel Bashe</article></div>
                <div id="jobtitle-box"><article>back-end & front-end developer</article></div>
                <div id="description-box">
                    <article>Job status</article>
                    <h2>Employee &#64; Softronic AB</h2>
                </div>
                <div id="home-splitter"></div>
            </div>                
                <article></article>
        </section>

        <section id="content" data-type="background" data-speed="10" class="pages">
            <div id="content-splitter">
            </div>
            
            <article></article>
        </section>

        <section id="footer" data-type="background" data-speed="10" class="pages">
            <form id="main-form">
                <div class="form-contact">                    
                    <div class="form-layout">
                        <h2 id="writeMe">WRITE ME!</h2>
                        <div>
                            <input type="text" class="formGroup" id="txtFirstName" placeholder="Name" />
                        </div>
                        <div>
                            <textarea id="txtInfo" placeholder="Write anything..."></textarea>                            
                        </div>                       
                    </div>
                    <button type="button" id="buttonSend" value="Send me">DON'T SEND</button>                 
                </div>                    
            </form>       
                <div id="contact-splitter">
                </div>
            <article></article>
        </section>
    </div>
    
 }