html{
}

body {
    padding-top:52px;
    margin:0 auto;
}

/* Set padding to keep content from hitting the edges */

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
form,
textarea {
    max-width: 300px;
    max-height:200px;
}

article {
    font-weight: bold;
}

a {

}

a:link {
    text-decoration: none;
}

a:hover {
    color:rgb(111, 201, 147);
}

section {
    height:1080px;
    max-width:1920px;
    margin: 0 auto;
    position:relative;
}

#sections {
    margin-top:0 auto;
}

#home {
    background: rgb(128, 128, 128) fixed; min-height: 1080px;
    overflow: hidden;
    width:100%;
}

#content {
    background: rgb(222, 244, 208) fixed; background-size:cover; min-height:1080px;
    overflow:hidden;
    width:100%;
}

#performance {
    font-size: 50px;
    color:#fff;
    text-align:center;
    background-color:rgb(41, 107, 95);
    border-radius:0px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
}

#gaugesContainer {
    margin-top:100px;
    width:100%;
}
.gauges {
    background-color: rgba(0,0,0,0.8);
    border-radius:5px;
    box-shadow: 0 0 5px 0 rgb(36, 51, 42);
    width: 170px;
    height: 180px;
    text-align:center;
    position: relative;    
}

.gauges h1 {
    padding-top:140px;
    color:#fff;
}

.bars{
    width:120px;
    height:120px;
    position: absolute;
    left:24px;
    top:13px;
}

#ulGauges {
    float:left;
    margin-left:65px;
}

.liGauges {
    display: inline-block;
    list-style-type:none;
    margin-right:70px;
    margin-top:20px;
}

#footer {
    background: rgb(233, 188, 125) fixed; background-size:cover; min-height:1080px;
}

#footer article {
    position:absolute;
    text-align:center;
    top:150px;
    width:100%;
}

/*--------------CONTACT FORM------------------*/



/*--------------END CONTACT FORM------------------*/